.App {
    text-align:left;
}
.App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.App-link {
    color: #61dafb;
}
.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 50%;
    max-height: 50%;
}
body {
    font-size: 1.2rem;
}

.filterButton {
    justify-content: space-around;
    padding-top: 10px;
}
.navbar-brand{
    font-size: 30px;
}
.label {
    margin-bottom: 30px;
    font-size: 1.6em;
    text-align: justify;
}
@-webkit-keyframes App-logo-spin {
    from { -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        }
}
@keyframes App-logo-spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        }
}
