.container{
    justify-content:space-around;
    display:flex;
    align-content: space-between;
    align-items: center;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-flow: wrap;
    flex-direction: row;
}
